
<header class="head-section">
    <div class="navbar navbar-default navbar-static-top">
        <div class="navbar navbar-default container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar-collapse-login" data-toggle="collapse" type="button">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="https://cdn.rawgit.com/AndreyRakhmaev/ExpressDelivery/714a6101/ExpressDelivery/ExpressDelivery/Content/img/icons/logo.png" />E<span>xpress Delivery</span></a>
                <br />
                Ваша транспортная компания
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-login">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div ID="aside1">
        <div class="navbar navbar-default navbar-static-top">
            <div class="navbar navbar-default container">
                <div class="navbar-header">
                        <div class="btn-group">
                            <button class="navbar-toggle" data-target="#navbar-collapse-search" data-toggle="collapse" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                                <button class="navbar-toggle" data-target="#navbar-collapse-menu" data-toggle="collapse" type="button">
                                    <span class="glyphicon glyphicon-th"></span>
                                </button>
                        </div>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Главная", "Index", "Home")
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                Клиентам <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Develop", "Home")">­Заявка на вызов курьера</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Develop", "Home")">­Договор и Регламент оказания транспортных услуг</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("POZ", "forCustomers")">­Процесс оформления заказа</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("POZ", "forCustomers")">­Как оформить накладную</a>
                                </li>
                                <li>
                                    <a href="#">­Обратная связь</a>
                                </li>
                                <li>
                                    <a href="#">­Клиенты о нас</a>
                                </li>
                                <li>
                                    <a href="#">Контроль качества</a>
                                </li>
                                <li>
                                    <a href="#">Онлайн сервисы</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                Партнерам <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">­Обращение к партнерам</a>
                                </li>
                                <li>
                                    <a href="#">­Стратегия развития</a>
                                </li>
                                <li>
                                    <a href="­#">­Корпоративное управление</a>
                                </li>
                                <li>
                                    <a href="#">­Совет директоров</a>
                                </li>
                                <li>
                                    <a href="#">­Контакты</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                Услуги и тарифы <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Наши тарифы</a>
                                </li>
                                <li>
                                    <a href="#">­Услуги экспресс – доставки</a>
                                </li>
                                <li>
                                    <a href="#">Интернет магазинам</a>
                                </li>
                                <li>
                                    <a href="#">Срочная доставка</a>
                                </li>
                                <li>
                                    <a href="#">Экономичная доставка</a>
                                </li>
                                <li>
                                    <a href="#">Возврат товаров и документов</a>
                                </li>
                                <li>
                                    <a href="#">Дополнительные услуги</a>
                                </li>
                                <li>
                                    <a href="#">Условия оплаты</a>
                                </li>
                                <li>
                                    <a href="#">Калькулятор</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("Акции и бонусы", "Index", "Home")
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
                                О компании <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">­Наша история</a>
                                </li>
                                <li>
                                    <a href="#">Факты и цыфры</a>
                                </li>
                                <li>
                                    <a href="#">­­Лицензии</a>
                                </li>
                                <li>
                                    <a href="#">Наши награды</a>
                                </li>
                                <li>
                                    <a href="#">Пункты приема и выдачи</a>
                                </li>
                                <li>
                                    <a href="#">Новости и события</a>
                                </li>
                                <li>
                                    <a href="#">Наши сотрудники</a>
                                </li>
                                <li>
                                    <a href="#">Наши партнеры</a>
                                </li>
                                <li>
                                    @Html.ActionLink("Контактная информация", "Contact", "Home")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("Помощь", "Index", "Help")
                        </li>
                        <li><input class="form-control search" placeholder="Поиск" type="text"></li>
                    </ul>

                    </div>
                </div>
        </div>
    </div>
</header>
<!--header end-->
