@model ExpressDelivery.Models.CalculatorViewModel

@using (Ajax.BeginForm("kalkulyator", "forCustomers", new AjaxOptions { UpdateTargetId = "titlePlan" }))
{
    @Html.HiddenFor(m => m.Distance)
    @Html.HiddenFor(m => m.AdressFrom)
    @Html.HiddenFor(m => m.AdressTo)
    @Html.Label("lblPlan", "Выберите тарифный план");
    <br />
    @Html.DropDownListFor(
            m => m.PlanId,
            new SelectList(Model.Plans, "кодТарифа", "наименованиеТарифа"),
            "Тариф не выбран"
        )
    <br />
    <table>
        <thead>
            <tr>
                <th colspan="4">Параметры груза</th>
            </tr>
            <tr>
                <th>Длина (см)</th>
                <th>Ширина (см)</th>
                <th>Высота (см)</th>
                <th>Масса (кг)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.TextBoxFor(m => m.Length)</td>
                <td>@Html.TextBoxFor(m => m.Width)</td>
                <td>@Html.TextBoxFor(m => m.Height)</td>
                <td>@Html.TextBoxFor(m => m.Weight)</td>
            </tr>
        </tbody>
    </table>
    <div id="map"></div>
    <div id="summary">
        @if (@Model.PlanId != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Стоимость и длительность перевозки</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Пункт отправления</th>
                        <td>@Model.AdressFrom</td>
                    </tr>
                    <tr>
                        <th>Пункт назначения</th>
                        <td>@Model.AdressTo</td>
                    </tr>
                    <tr>
                        <th>Тарифный план</th>
                        <td>@Model.getSelectPlan().наименованиеТарифа: @Model.getSelectPlan().описаниеТарифа:</td>
                    </tr>
                    <tr>
                        <th>Габариты груза ДxВxШ (см.)</th>
                        <td>@Model.Length x @Model.Height x @Model.Width</td>
                    </tr>
                    <tr>
                        <th>Объем груза (см. куб.)</th>
                        <td>@Model.Amount</td>
                    </tr>
                    <tr>
                        <th>Масса груза (кг.)</th>
                        <td>@Model.Weight</td>
                    </tr>
                    <tr>
                        <th>Длина пути (км.)</th>
                        <td>@Model.Distance</td>
                    </tr>
                    <tr>
                        <th>Длительность перевозки (дн.)</th>
                        <td>@Model.Durability</td>
                    </tr>
                    <tr>
                        <th>Стоимость перевозки (руб.)</th>
                        <td>@Model.TotalCost</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>

<br />
    <button class="btn btn-info">Рассчитать стоимость</button>
}
<br />
            @*<script type="text/javascript">
                $('#PlanId').change(function () {
                    $(this).parents('form').submit();
                });
            </script>*@
