@model ExpressDelivery.Models.CalculatorViewModel

@using (Ajax.BeginForm("kalkulyator", "forCustomers", new AjaxOptions { UpdateTargetId = "titlePlan" }))
{
    @Html.TextBoxFor(m => m.Distance)
    @Html.TextBoxFor(m => m.AdressFrom)
    @Html.TextBoxFor(m => m.AdressTo)
    <input id="adressFrom" type="hidden" value="" name="adressFrom" />
    <input id="adressTo" type="hidden" value="" name="adressTo" />
    @Html.Label("lblPlan", "Выберите тарифный план");
    <br />
    @Html.DropDownListFor(
            m => m.PlanId,
            new SelectList(Model.Plans, "кодТарифа", "наименованиеТарифа"),
            "Тариф не выбран"
        )
    <br />
    <table>
        <thead>
            <tr>
                <th colspan="4">Параметры груза</th>
            </tr>
            <tr>
                <th>Длина (см)</th>
                <th>Ширина (см)</th>
                <th>Высота (см)</th>
                <th>Масса (кг)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.TextBoxFor(m => m.Length, "Length")</td>
                <td>@Html.TextBoxFor(m => m.Width, "Width")</td>
                <td>@Html.TextBoxFor(m => m.Height, "Height")</td>
                <td>@Html.TextBoxFor(m => m.Weight, "Weight")</td>
            </tr>
        </tbody>
    </table>
}
            <script type="text/javascript">
                $('#PlanId').change(function () {
                    $(this).parents('form').submit();
                });
            </script>
